---
import CategoryList from "../atoms/CategoryList.astro";
import Sidebar from "../organisms/Sidebar.astro";
import { getCollection } from "astro:content";
import { getContentCategories } from "../../utils/index";
import ContainerGrid from "../organisms/ContainerGrid.astro";
import Button from "../atoms/Button.astro";
import ContainerFeed from "../organisms/ContainerFeed.astro";

// TODO : Nanti atasin filter blog di sini
const posts = await getCollection("blog");
const categories = getContentCategories(posts).slice(0, 5);
---

<ContainerGrid>
  <ContainerFeed>
    {
      categories.map((cat) => {
        const collection = posts.filter((post) => post.data.category === cat);

        if (!collection) return null;

        return <CategoryList posts={collection} />;
      })
    }
    <section>
      <Button id="more-category" buttonStyle="orange-button"
        >More category</Button
      >
    </section>
  </ContainerFeed>
  <Sidebar />
</ContainerGrid>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const moreCategoryButton = document.getElementById("more-category");

    moreCategoryButton?.addEventListener("click", () => {
      alert("Under Development");
    });
  });
</script>

<style>

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

</style>
