---
import type { Articles, Blog } from "../../@types/General"
import { generatePlaceholderPost } from "../../utils"
import ContainerFeed from "../organisms/ContainerFeed.astro"
import ContainerGrid from "../organisms/ContainerGrid.astro"
import Sidebar from "../organisms/Sidebar.astro"
import Feeds from "./Feeds.astro"

interface Props {
    posts : Articles[]
    totalPost: number;
}

const { posts, totalPost } = Astro.props

const placeholders = generatePlaceholderPost(totalPost, posts);
---

<ContainerGrid>
    <ContainerFeed>
        <h2>Artikel</h2>
        <Feeds articles={posts} placeholders={placeholders} layout="grid-feed" />
    </ContainerFeed>
    <Sidebar />
</ContainerGrid>

<style>
    h2{
        color: var(--primary-text);
        text-align: center;
    }
</style>