---
import { getArticles } from "../../utils";
import ArticleFeed from "./ArticleFeed.astro";
import Pagination from "./GeneralPagination.astro";

const articles = await getArticles();

// Pagination
// const articlePerPage: number = 5;
---

<div>
  <h1>Artikel</h1>
  <div class="article-container">
    {
      articles
        // .slice(0, articlePerPage)
        .map((article) => <ArticleFeed {...article} />)
    }
    <p class="no-more-post">Tidak ada lagi Postingan</p>
  </div>
</div>

<style>
  div {
    background-color: var(--primary-background);
    padding: 1rem;
    border-radius: 1rem;
  }

  div h1 {
    text-decoration: underline;
    cursor: default;
    color: var(--primary-text);
  }

  .article-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .no-more-post {
    font-family: "Merriweather", "Courier New", Courier, monospace;
    text-align: center;
    cursor: not-allowed;
    color: var(--primary-text);
  }

  @media (max-width:720px) {
    .no-more-post{
      text-align: center;
    }
  }
</style>
