---
import { getArticles } from "../../utils";
import ArticleFeed from "./ArticleFeed.astro";

const articles = await getArticles();
---

<div>
  <h1>Artikel</h1>
  <div class="article-container">
    {articles.map((article) => <ArticleFeed {...article} />)}
  </div>
</div>

<style>
  div {
    background-color: var(--primary-background);
    padding: 1rem;
    border-radius: 1rem;
  }

  div h1 {
    text-decoration: underline;
    cursor: default;
    color: var(--primary-text);
  }

  .article-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
