---
import ArticleFeed from "../atoms/ArticleFeed.astro";
import { getCollection } from "astro:content";

const collections = await getCollection("blog");
const test = collections.map((article) => ({
  title: article.data.title,
  description: article.data.description,
  imageSrc: article.data.heroImage || "/blog-placeholder-1.jpg", 
  category: article.data.category || "No Category",
  author: article.data.author || "Anonymous", 
  date: article.data.pubDate.toISOString(), 
  link: article.id,
}));
---

<div>
  <h1>Article</h1>
  {test.map((article) => <ArticleFeed {...article} />)}
</div>
