---
import ArticleFeed from "./ArticleFeed.astro";
import { getCollection } from "astro:content";

const collections = await getCollection("blog");

//@ts-ignore
collections.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));

const articles = collections.map((article) => ({
  title: article.data.title,
  description: article.data.description,
  imageSrc: article.data.heroImage || "/notfound-image.png",
  category: article.data.category || "No Category",
  author: article.data.author || "Anonymous",
  date: article.data.pubDate.toISOString(),
  link: article.id,
}));
---

<div>
  <h1>Artikel</h1>
  <div class="article-container">
    {articles.map((article) => <ArticleFeed {...article} />)}
  </div>
</div>

<style>
  div {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  div h1 {
    text-decoration: underline;
    cursor: default;
  }

  .article-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
