---
import WidgetLatestPost from "../atoms/Widgets/LatestPost.astro";
import WidgetCategories from "../atoms/Widgets/Categories.astro";
---

<div class="sidebar">
  <WidgetLatestPost />
  <WidgetCategories />
</div>

<style>
  .sidebar {
    background-color: var(--primary-background);
    border-radius: 1rem;
  }

  @media (max-width: 720px) {
    .sidebar {
      margin-top: 1rem;
    }
  }
</style>
