---
import WidgetDarkMode from "../atoms/Widgets/DarkMode.astro";
---

<div class="sidebar">
  <WidgetDarkMode />
</div>

<style>
  .sidebar {
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--primary-background);
  }

  @media (max-width: 720px) {
    .sidebar {
      margin-top: 1rem;
    }
  }
</style>
