/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+IT+Moderna:wght@100..400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-playwrite-it-moderna {
  font-family: "Playwrite IT Moderna", cursive;
}

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;

  --body-background: #f2f9ff;
  --footer-background: #b3b2b2;
  --header-background: #fff;
  --hover-background: #f0f0f0;
  --primary-background: #fff;

  /* Text element Variable */
  --primary-text: #333;
  --secondary-text: #aaa8a8;
  --article-text: #555;
  --hover-text: #007bff;

  /* HIGHLIGHT */
  --highlight-color: #007bff;
  --highlight-background: #e0f7fa;

  --button-background: #007bff;
  --button-text: #ffffff;
  --button-hover-background: #0056b3;
  --button-active-background: #004494;

  /* Link element Variable */
  /* <<<< HOVER >>>> */
  --link-hover: #08349b;
  --link-hover-2: #3b82f6;

  /* <<<< STANDBY >>>> */
  --link-primary: #000;
  --link-stand-1: #000;

  /* <<<< WIDGETS >>>> */
  --back-to-top: #000;
}

[data-theme="dark"] {
  --body-background: #2c3930;
  --primary-background: #3f4f44;
  --header-background: #3f4f44;
  --footer-background: #3f4f44;

  /* Text element Variable */
  --primary-text: #dcd7c9;
  --secondary-text: #d6d6d6;
  --link-hover-2: #4b4376;
  --article-text: #fff;

  /* Link element Variable */
  --link-hover: #3f4f44;
  --link-hover-2: #fff;

  --link-primary: #dcd7c9;
  --link-stand-1: #ecdfcc;

  --back-to-top: #39ac4c;

  --hover-background: #333333; /* Background saat hover lebih gelap */
    --hover-color: #66b2ff; /* Warna teks saat hover */
    --highlight-color: #66b2ff; /* Warna teks saat terpilih */
    --highlight-background: #2a2a2a; /* Background saat terpilih */
    --button-background: #0056b3; /* Background tombol */
    --button-text: #ffffff; /* Warna teks tombol */
    --button-hover-background: #004494; /* Background tombol saat hover */
    --button-active-background: #003366; /* Background tombol saat aktif */

}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 1.5rem;
}

body {
  font-family: "Atkinson", sans-serif;
  background: var(--body-background);
}

strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}

/* PROSE SECTION START */
.prose {
  font-family: "Merriweather", sans-serif;
}

.prose h3,
.prose h4 {
  margin-top: 1rem;
}

.prose blockquote {
  padding-left: 1rem;
  margin: 0px;
  font-size: 1.333em;
  font-style: italic;
  color: #a39c9c;
}

.prose img {
  width: 100%;
  border-radius: 1rem;
  max-height: 480px;
  object-fit: contain !important;
}

.prose p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.prose ul,
.prose ol {
  padding-left: 2rem;
  line-height: 1.7;
}

.prose figcaption {
  margin-top: -1rem;
  text-align: center;
  font-style: italic;
  color: #a39c9c;
  margin-bottom: 0.5rem;
}

@media (max-width: 720px) {
  .prose p {
    font-size: 14px;
  }

  .prose h1 {
    font-size: 1.3rem;
  }
}
/* PROSE SECTION END */

a:hover {
  color: var(--accent);
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
