---
import { generatePlaceholderPost } from "../../utils";
import Feeds from "../molecules/Feeds.astro";
import type { Articles } from "../../@types/General";

interface Props {
  posts: Articles[];
}

const { posts } = Astro.props;
const totalSlots = 5;

const categoryName = posts[0].category;
const articles = posts.slice(0, totalSlots);

const placeholders = generatePlaceholderPost(totalSlots, articles);
---

<section>
  <h2>{categoryName}</h2>
  <Feeds articles={articles} placeholders={placeholders} layout="horizontal-scroll" />
</section>

<style>
  h2 {
    color: var(--primary-text);
    font-family: "Atkinson", Courier, monospace;
  }
</style>
