---
import type { RenderedContent } from "astro:content";
import type { InferEntrySchema } from "astro:content";
import { generatePlaceholderPost } from "../../utils";
import Feeds from "../molecules/Feeds.astro";

interface Props {
  posts: {
    id: string;
    body?: string;
    collection: "blog";
    data: InferEntrySchema<"blog">;
    rendered?: RenderedContent;
    filePath?: string;
  }[];
}

const { posts } = Astro.props;
const totalSlots = 5;

const categoryName = posts[0].data.category;
const articles = posts.slice(0, totalSlots);

const placeholders = generatePlaceholderPost(totalSlots, articles);
---

<section>
  <h2>{categoryName}</h2>
  <Feeds articles={articles} placeholders={placeholders} layout="horizontal-scroll" />
</section>

<style>
  h2 {
    color: var(--primary-text);
    font-family: "Atkinson", Courier, monospace;
  }
</style>
