---
interface Props {
  title?: string;
  showCategory?: boolean;
}

const { showCategory = false, title } = Astro.props;
---

<div class="hero">
  <p class="title-category">
    {title}
  </p>
  {
    showCategory && (
      <p class="sub-title-category font-playwrite-it-moderna">
        {" "}
        Kumpulan artikel dari kategori <em>{title}</em>{" "}
      </p>
    )
  }
</div>

<style>
  .hero {
    background: url("/images/category-slug-hero.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 109%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    border-radius: 1rem;
    z-index: 1;
  }

  p {
    color: white;
    z-index: 2;
    position: relative;
    margin: 0;
  }

  .title-category {
    font-weight: bolder;
    font-size: 3rem;
  }

  .sub-title-category {
    font-family: "Playwrite IT Moderna", cursive;
  }
</style>
