---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/organisms/Footer.astro";
import Header from "../components/organisms/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import AboutTemplate from "../components/templates/AboutTemplate.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`About | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <AboutTemplate />
    <Footer />
  </body>
</html>
