---
import CategoryFeed from "../molecules/CategoryFeed.astro";
import CategoryHero from "../molecules/CategoryHero.astro";
---

<div class="container">
  <!-- TODO : Kerjain ini nanti -->
  <CategoryHero />
  <CategoryFeed />
</div>

<style>
  .container {
    padding: 1rem;
  }

  @media (max-width: 720px) {
    .container {
      padding: 0.5rem;
    }
  }
</style>
