---
import ImageBanner from "../atoms/ImageBanner.astro";
import { getArticles } from "../../utils";
import GridFeed from "../molecules/GridFeed.astro";

interface Props {
  category: string;
  subCategory?: string;
}

const { category, subCategory } = Astro.props;

const posts = await getArticles();
const selectedCategoryPost = subCategory
  ? posts.filter(
      (post) => post.category === category && post.subCategory === subCategory
    )
  : posts.filter((post) => post.category === category);
---

<div class="container">
  <ImageBanner title={category} showCategory />
  <!-- <HomeFeed articles={selectedCategoryPost} /> -->
  <GridFeed posts={selectedCategoryPost} totalPost={9} category={category} />
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  @media (max-width: 720px) {
    .container {
      padding: 0.5rem;
    }
  }
</style>
