---
import HomeFeed from "../molecules/HomeFeed.astro";
import ImageHeroCarousel from "../molecules/ImageHeroCarousel.astro";
---

<main>
  <ImageHeroCarousel />
  <div class="grid-container">
    <div></div>
    <HomeFeed />
    <sidebar></sidebar>
  </div>
</main>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: 5% auto 30%;
  }

  @media (max-width: 720px) {
    .grid-container {
      display: block;
      margin : 0 auto
    }
  }
</style>
