---
import { getArticles } from "../../utils";
import ArticleSlider from "../molecules/ArticleSlider.astro";
import HomeFeed from "../molecules/HomeFeed.astro";
import Sidebar from "../organisms/Sidebar.astro";

const articles = await getArticles();
---

<main>
  <ArticleSlider />
  <!-- <ImageHeroCarousel /> -->
  <div class="grid-container">
    <div></div>
    <HomeFeed articles={articles} />
    <Sidebar />
  </div>
</main>

<style>
  main {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 5% auto 30%;
    gap: 1rem;
  }

  @media (max-width: 720px) {
    .grid-container {
      display: block;
      margin: 1rem 0;
    }
    main {
      padding: 3rem 1rem;
    }
  }
</style>
