<div class="prose">
  <slot />
</div>

<style>
  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
  
  @media (max-width: 720px) {
    .prose h1 {
      font-size: 2rem;
    }
  }
</style>
