---
import WidgetNavigation from "../molecules/WidgetNavigation.astro";
import WidgetPersonalization from "../molecules/WidgetPersonalization.astro";
---

<div class="sidebar">
  <aside>
    <WidgetNavigation />
  </aside>
  <aside>
    <WidgetPersonalization />
  </aside>
</div>

<style>
  .sidebar {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }

  .sidebar > *:last-child {
    position: sticky;
    top: 1rem;
  }
</style>
